.site-layout-content {
  min-height: 100vh;
  padding: 16px 24px 24px 24px;

  .current-date {
    font-size: 14px;
    font-weight: 700;
    color: #9da4ae;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }
}

.ant-layout {
  background: #fff;
}
