.login-card {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 20px 5px;
  border-radius: 10px;
  .ant-card-body {
    padding: 0;
  }
}

.login-error-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
  strong, .login-error-message  {
    font-size: 14px;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9f9;
}

.login-inner-container {
  width: 480px;
  padding: 48px;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 48px;
  height: 100%;

  p {
    font-size: 32px;
    font-weight: 700;
    margin-left: 16px;
  }

  img {
    aspect-ratio: auto;
    width: 100%;
    height: auto;
    max-width: 65px;
  }
}

.login-inner-container {
  height: 520px;
}

.login-item-label, .login-button {
  font-weight: 500;
}

.login-button {
  background: #6366F1;

  &:hover {
    background: #4F46E5!important;
  }

  &:focus {
    background: #6366F1!important;
  }

  &:active {
    background: #6366F1!important;
  }
}
