.breadcrumb-clickable {
  cursor: pointer;
  height: inherit!important;
}

.breadcrumb-not-clickable {
  pointer-events: none;
  color: var(--text-secondary);
}

.breadcrumb-last {
  & > .breadcrumb-label {
    color: #686868;
    font-weight: 600;
  }
}

.breadcrumb-label {
  color: #9da4ae;
  font-weight: 500;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.app-breadcrumb {
  .ant-breadcrumb-separator {
    color: #9da4ae;
    font-weight: 500;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}
